*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:#090909;
color:white;
font-family:'Inter',sans-serif;

}

header{

position:fixed;
width:100%;
top:0;
background:#090909ee;
backdrop-filter:blur(10px);

}

nav{

width:90%;
margin:auto;

padding:25px 0;

display:flex;
justify-content:space-between;
align-items:center;

}

.logo{

font-family:'Cormorant Garamond',serif;

font-size:40px;

color:#D4AF37;

}

nav ul{

display:flex;

gap:35px;

list-style:none;

}

nav a{

text-decoration:none;

color:white;

transition:.3s;

}

nav a:hover{

color:#D4AF37;

}

.hero{

width:90%;

max-width:1300px;

margin:auto;

min-height:100vh;

display:flex;

align-items:center;

justify-content:space-between;

gap:80px;

padding-top:120px;

}

.left{

flex:1;

}

.tag{

color:#D4AF37;

letter-spacing:4px;

margin-bottom:25px;

}

.left h1{

font-size:90px;

line-height:1;

font-family:'Cormorant Garamond',serif;

margin-bottom:30px;

}

.left p{

font-size:20px;

line-height:1.8;

color:#cccccc;

max-width:600px;

}

.button{

display:inline-block;

margin-top:40px;

padding:18px 40px;

background:#D4AF37;

color:black;

text-decoration:none;

font-weight:700;

border-radius:50px;

transition:.3s;

}

.button:hover{

transform:translateY(-5px);

}

.right{

flex:1;

display:flex;

justify-content:center;

}

.right img{

width:340px;

height:440px;

object-fit:cover;

border-radius:20px;

border:3px solid #D4AF37;

box-shadow:0 20px 50px rgba(0,0,0,.6);

}

@media(max-width:900px){

.hero{

flex-direction:column-reverse;

text-align:center;

padding-top:170px;

}

.left h1{

font-size:55px;

}

.right img{

width:260px;

height:340px;

}

nav{

flex-direction:column;

gap:20px;

}

nav ul{

gap:20px;

}

}
/* ===========================
   ABOUT
=========================== */

.about{

padding:120px 10%;

background:#111;

text-align:center;

}

.container{

max-width:900px;

margin:auto;

}

.about h2{

font-size:60px;

font-family:'Cormorant Garamond',serif;

color:#D4AF37;

margin-bottom:35px;

}

.about p{

font-size:22px;

line-height:1.9;

color:#d0d0d0;

}
